/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Default Page Settings */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

/* Navigation */
#navlinks {
    list-style-type: none;
}
#navlinks a:hover {
    color: grey;
}

#navlinks a.active {
    color: red;
}

/* Footer */
.social-icons, .copyright {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-content: space-between;
}

/* Social Links */
.fa-brands, .fab {
    margin: 10px;
    font-size: 20px;
}